.card {
  gap: 12px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  border: var(--border-thin);
  border-radius: var(--corner-bold);
  background-color: var(--background-card);
}

.icon {
  width: 48px;
  height: 48px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--corner-prominent);
  color: var(--brand-primary);
  background-color: var(--brand-accent-lighter);
}

.card p {
  text-align: left;
  color: var(--neutral-medium-gray);
}
